version: '3.3'
services:
  db:
    image: postgres:13.0-alpine
    restart: always 
    volumes:
      - data_value:/var/lib/postgresql/data/
    env_file:
      - ./.env
  backend:
    image: hulinet/foodgram_backend:latest
    restart: always
    volumes:
      - static_value:/app/static_backend/
      - media_value:/app/media_backend/
    depends_on:
      - db
    env_file:
      - ./.env
  frontend:
    image: hulinet/foodgram_frontend:v1
    volumes:
      - ../frontend/:/app/result_build/
    depends_on:
      - backend
  nginx:
    image: nginx:1.19.3
    restart: always 
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs:/usr/share/nginx/html/api/docs/
      - static_value:/var/html/static_backend/
      - media_value:/var/html/media_backend/
    depends_on:
      - frontend

volumes:
  data_value:
  static_value:
  media_value:
  redoc:
  result_build: